<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New Job</title>
    <!-- <script src="Content/js/jquery-3.0.0.js"></script>
    <script src="Content/js/scripts.js"></script>
    <link rel="stylesheet" href="Content/css/styles.css" type="text/css"> -->
  </head>
  <body>
    <form id="birth-form" action="/birth_form" method="post">
      <label for ="new-name">Name Your Pet:</label>
      <input id ="new-name" name="new-name" type="text" required>
      <button type="submit">Submit</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
