<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You Are A Bad Tamagotchi Owner</title>
  </head>
  <body>
    <h1>Your Tamagotchi Died Due to Your Neglect! Shame!</h1>
  </body>
</html>
