<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Tamagotchi Land</title>
  </head>
  <body>
    <a href="/create">Bring Forth a Tamagotchi into this World!!!!</a>
  </body>
</html>
